{% extends "layout.html" %}

{% block main %}
	<article class="block-thingy h-card">
		<data class="u-url u-uid" value="https://unrelenting.technology/"></data>
		<h1 class="entry-txt">welcome to unrelenting.technology</h1>
		<p class="entry-txt">
			Hi, I'm <span class="p-name">Greg</span>, and this is my personal website where
			I post notes from my adventures in taming computers and software, among other things.
		</p>
		<p class="entry-txt">
			You can interact with posts on this website using your own website,
			if you set up <a href="https://indieweb.org">IndieWeb</a> things on it!
			<small>
			(More specifically, sending <a href="https://webmention.net">Webmentions</a> from <a href="https://indieweb.org/h-entry">h-entry</a> formatted post pages.)
			</small>
		</p>
	</article>

	<h1 class="entry-txt"><a href="https://github.com/unrelentingtech" rel="me">Software projects</a></h1>

	<div class="project-grid">
		<a href="https://github.com/DankBSD/waysmoke" class="project-project"
	      style="background: radial-gradient(circle, rgba(54,218,2,0.97) 0%, rgba(0,116,27,0.96) 100%);color: #fafafa;text-shadow: rgba(0,116,27,0.96) 0 1px">
			<div class="project-title">Waysmoke</div>
			<div class="project-subtitle">Upcoming iced+Wayfire based desktop environment</div>
		</a>
		<a href="https://github.com/unrelentingtech/systemstat" class="project-project"
	      style="background: linear-gradient(138deg, rgba(149,40,222,1) 0%, rgba(238,83,49,0.97) 58%, rgba(245,161,43,0.98) 100%);color: #fefefe;text-shadow: rgba(245,161,43,0.8) 0 1px">
			<div class="project-title">systemstat</div>
			<div class="project-subtitle">Rust library for gathering system info</div>
		</a>
		<a href="https://github.com/unrelentingtech/sellout" class="project-project"
	      style="background: linear-gradient(0deg, rgba(174,40,222,0.98) 0%, rgba(123,18,210,0.98) 48%, rgba(128,18,232,0.97) 100%);color: #fbfbfb">
			<div class="project-title" style="text-shadow: rgba(174,40,222,0.9) 0 1px">sellout</div>
			<div class="project-subtitle" style="text-shadow: rgba(128,18,232,0.9) 0 1px">IndieAuth/Micropub engine for static sites</div>
		</a>
		<a href="https://github.com/unrelentingtech/soundfixer" class="project-project"
	      style="background: radial-gradient(circle, rgba(104,104,104,0.93) 52%, rgba(126,120,124,0.97) 100%);color: #fff;text-shadow: #888 0 1px">
			<div class="project-title">soundfixer</div>
			<div class="project-subtitle">Browser extension for fixing bad audio</div>
		</a>
		<a href="https://github.com/unrelentingtech/micro-panel" class="project-project"
	      style="background: linear-gradient(90deg, rgba(0,201,167,0.97) 0%, rgba(11,169,98,0.97) 100%);color: #fefefe;text-shadow: rgba(10,169,90,0.9) 0 1px">
			<div class="project-title">micro-panel</div>
			<div class="project-subtitle">Entry editor for Micropub-enabled websites</div>
		</a>
		<a href="https://github.com/DankBSD" class="project-project"
	      style="background: radial-gradient(circle, rgba(255,42,0,0.95) 25%, rgba(182,37,42,0.95) 73%, rgba(199,26,55,0.97) 100%);color: #fefefe;text-shadow: rgba(199,26,65,0.9) 0 1px">
			<div class="project-title">DankBSD</div>
			<div class="project-subtitle">Upcoming rolling release desktop focused FreeBSD variant</div>
		</a>
	</div>

	<div class="h-feed">
		<h1 class="entry-txt"><a href="/posts" class="u-url">Current posts</a></h1>
		{% set posts = get_section(path="posts/_index.md") %}
		{% for page in posts.pages | slice(end=5) %}
			<article class="h-entry">
				{{ content::post(page=page, on_permapage=false) }}
			</article>
		{% endfor %}
		<div class="entry-txt"><a href="/posts">read more</a></div>
		<data class="u-author" value="https://unrelenting.technology"></data>
	</div>
{% endblock %}
