{% extends "layout.html" %}
{% block bodyattrs %} class="h-entry"{% endblock %}
{% block title %}{{ page.title | default(value="a post from " ~ page.date) }} / {{ super() }}{% endblock %}

{% block main %}
	{% set entry = page %}
	{% set allmentions = load_data(url="https://webmention.io/api/mentions.jf2?domain=unrelenting.technology&token=" ~ get_env(name="WMIO_TOKEN", default="SET_WMIO_TOKEN_YOU_FOOL"), format="json") %}
	{% set mentions = allmentions.children | filter(attribute="wm-target", value="https://unrelenting.technology" ~ entry.path) %}
	{% set replies = mentions | filter(attribute="in-reply-to", value="https://unrelenting.technology" ~ entry.path) %}
	{% set likes = mentions | filter(attribute="like-of", value="https://unrelenting.technology" ~ entry.path) %}
	{% set reposts = mentions | filter(attribute="repost-of", value="https://unrelenting.technology" ~ entry.path) %}
	{% set bookmarks = mentions | filter(attribute="bookmark-of", value="https://unrelenting.technology" ~ entry.path) %}

	<article class="full-article">
		{% if entry.title %}
			<h1 class="posthead p-name">{{ entry.title }}</h1>
			{% if entry.description %}
				<p class="subhead p-summary">{{ entry.description }}</p>
			{% endif %}
			{% if not entry.path is starting_with("/kb/") %}
				<div class="sub meta">
					<p>
						{{ entry.date | date(format="%b %d, %Y") }}
						::
						{{ entry.reading_time }} min read
					</p>
				</div>
			{% endif %}
		{% endif %}

		{% for ctx in entry.extra.in_reply_to | default(value=[]) %}
			<section class="chungus inv h-cite u-in-reply-to">
				<h1>{{ util::icon(icon="reply") }} In reply to {{ content::cite_info(ctx=ctx) }}</h1>
				{{ content::cite_content(ctx=ctx) }}
			</section>
		{% endfor %}

		{% for ctx in entry.extra.like_of | default(value=[]) %}
			<section class="chungus inv h-cite u-like-of">
				<h1>{{ util::icon(icon="star") }} Liked {{ content::cite_info(ctx=ctx) }}</h1>
				{{ content::cite_content(ctx=ctx) }}
			</section>
		{% endfor %}

		{% for ctx in entry.extra.repost_of | default(value=[]) %}
			<section class="chungus inv h-cite u-repost-of">
				<h1>{{ util::icon(icon="megaphone") }} Repost of {{ content::cite_info(ctx=ctx) }}</h1>
				{{ content::cite_content(ctx=ctx) }}
			</section>
		{% endfor %}

		{% for ctx in entry.extra.bookmark_of | default(value=[]) %}
			<section class="chungus inv h-cite u-bookmark-of">
				<h1>{{ util::icon(icon="bookmark") }} Bookmark of {{ content::cite_info(ctx=ctx) }}</h1>
				{{ content::cite_content(ctx=ctx) }}
			</section>
		{% endfor %}


		<div class="e-content my-content">
			{{ content::content(entry=entry) }}
		</div>

		<div class="chungus meta">
			<section>
				<h1>{{ util::icon(icon="calendar") }} Published</h1>
				<hammer-time>
					<time datetime="{{ entry.date }}" class="dt-published">
						<a class="u-url u-uid" href="{{ entry.permalink | safe }}" rel="bookmark">
							{{- entry.date | date(format="%b %d, %Y %R") -}}
						</a>
					</time>
				</hammer-time>
			</section>

			{% if entry.updated %}
				<section>
					<h1>{{ util::icon(icon="update") }} Updated</h1>
					<hammer-time>
						<time datetime="{{ entry.updated }}" class="dt-updated">
							{{- entry.updated | date(format="%b %d, %Y %R") -}}
						</time>
					</hammer-time>
				</section>
			{% endif %}

			<section>
				<h1>{{ util::icon(icon="tag") }} Categories and tags</h1>
				{{ content::cats(entry=entry) }}
			</section>

			{% if entry.extra.client_id %}
				<section>
					<h1>{{ util::icon(icon="appedit") }} Using</h1>
					{% for cid in entry.extra.client_id %}
						<a href="{{ cid | safe }}" class="u-client-id">
							{{- cid | replace(from="http://", to="") | replace(from="https://", to="") | trim_end_matches(pat="/") -}}
						</a>
					{% endfor %}
				</section>
			{% endif %}

			{% if entry.extra.syndication %}
				<section>
					<h1>{{ util::icon(icon="copy") }} Also on:</h1>
					{% for syn in entry.extra.syndication %}
						<a href="{{ syn | safe }}" class="u-syndication">
							{{- syn | replace(from="http://", to="") | replace(from="https://", to="") | split(pat="/") | first -}}
						</a>
					{% endfor %}
				</section>
			{% endif %}

			{% if likes %}
				<section>
					<h1>{{ util::icon(icon="star") }} Likes</h1>
					<div class="face-pile">
						{% for ctx in likes %}
							{{ content::pile_cite(ctx=ctx, prop="like") }}
						{% endfor %}
					</div>
				</section>
			{% endif %}

			{% if reposts %}
				<section>
					<h1>{{ util::icon(icon="megaphone") }} Reposts</h1>
					<div class="face-pile">
						{% for ctx in reposts %}
							{{ content::pile_cite(ctx=ctx, prop="repost") }}
						{% endfor %}
					</div>
				</section>
			{% endif %}

			{% if bookmarks %}
				<section>
					<h1>{{ util::icon(icon="bookmark") }} Bookmarks</h1>
					<div class="face-pile">
						{% for ctx in bookmarks %}
							{{ content::pile_cite(ctx=ctx, prop="bookmark") }}
						{% endfor %}
					</div>
				</section>
			{% endif %}
		</div>

		{% if replies %}
			<section class="chungus">
				<h1>{{ util::icon(icon="comment") }} Replies</h1>
				{% for ctx in replies %}
					<div class="h-cite u-comment comment-cite">
						{{ content::cite_info(ctx=ctx) }}
						{{ content::cite_content(ctx=ctx) }}
					</div>
				{% endfor %}
			</section>
		{% endif %}

		<section class="chungus">
			<h1>{{ util::icon(icon="addcomment") }} Post your response</h1>
			<p>
				If you write a <a href="https://indieweb.org/responses">response</a> on your website,
				mark it up with <a href="https://microformats.org/wiki/h-entry">h-entry</a> and let me know the URL:
			</p>
			<form class="line-form" method="post" action="https://webmention.io/unrelenting.technology/webmention">
				<input type="hidden" name="target" value="{{ entry.permalink | safe }}">
				<input type="url" name="source" placeholder="https://…">
				<button type="submit">Webmention!</button>
			</form>
		</section>
	</article>
{% endblock %}
